# https://travis-ci.org/jakubroztocil/httpie
sudo: false

language: python
os:
  - linux

env:
  global:
    - NEWEST_PYTHON=3.6
    - secure: "tpqSOkzcjUmq2PvnzwemDBU/+c71MES1Y773nZwtYXchyR9fgd2fuoEon3WoMSeVxqtI8KeudhtSIxvIIh6V3lHvBtuepG9V3GAWmTHUO42kNh1+9w7ZfZREMEFQ7a0XvUhWjtG5aKdn8esWuDrMp8FVRpaMLfiGB3dReyy4OXmiUDjVhY4Tpwwtey31/EO80x5ukP0rOpHAS8TQl7o04FD55/djK1VSe4X1iWc80EU825AHbKyx3qtdLuzQO5YvoZYT+yetojJ4mqWQ6fYihuHqVc5G01mXVANHldcLsYVux4cF1sZMhGmITmExjMSEzeYTHeLOaB8FWuWRhxyskryaEJV2jBelcRNfA0+12YR4kSllJptI3nT9v7b/8UGkuJjr49Yu65SgcIi6lGZtUU/1nzonnemn2pBZDI2J9onKBl1SENMoDcNsq5ToHmXAKN58XvSzs65AEjwg4qUYVZXQcOhZuwTlb14TuZpH0ujsvaaatmyl5r60qMTsqw/ZchvKdCBRuhQVVJa97HBy0EXpdiWkwsGgvVLcTKqShfXy9X60IVG/p9d81/6CcgN3We134FM5WcpKydlvBUdzahmB9Zhpa7IsKyKkBqAkr3+5MVyGH4Uyf/SdEnuaGX4WW75/4hLbxUwxLnF5sVv+hTz+19ec8rWXvfWNADSO00U=" # DOCKER_EMAIL
    - secure: "C5dpVtahikGmtDNLuINwxJyw3fTFQx5ty1SBw/B+TWO0S7KtoZXcfXLPBvmw9SoaCfFvp1WZjoeoLJ1MD9tntyIeWAgVdcIy1FdCAvR20TcIYNURp7loYwDT0eWZiqwbtFf3KF72d3z2cz1qIfOXA0rTNupjSjnG9XSys9z3+CcEpO74W/BPT9stNraRARHk7oLhFULRDm4UVp5YAagRNREDMRFD/NLMz6ohxwoz9zJm9YfK69s9La2y6KOHfOiTrITj0Y3wdgFLmUAutJZ/0/nyBxrImQkNfmH9xV26jhuAnJV0+k33hpyBU/a8MMYARslSQPlPtQ7i6tXbFyAImAn4qcnqyjH3Zk5+S97HYl6R5wVQ3GyXcq6w+sEF9EYolC054SlTFwedBhISVUmNQvAKLMsW3mJdEMWKuYgbQlkAWe0IO4u0X7vpvNG2E4r90qmnECA+lUX/TVaIADFobcDi7Y/KNuQ3E6GZWfduRFSEwxQsGbnUQ0Zl5VDWoEPkagP+ivxcnrvLlpxMxJNtBKD3Wc1iucjLEx3NPWBhyGHh79uHleNQAD0bYBtVk2gmaZdfsC7RVzyLEqRTABUHcRukE4izXqN7n1v+lDBFjpsAqpuCXuAyo5uYMXnj2l+LxOIJtc6U+iR97BSzH1Shs6F46rZOfAEWRm7UNcxtMSA=" # DOCKER_PASS
    - COMMIT=${TRAVIS_COMMIT::8}
    - REPO=galsofrin/citest
    - TAG=`if [ "$TRAVIS_BRANCH" == "master" ]; then echo "latest"; else echo $TRAVIS_BRANCH ; fi`

python:
  - 3.6
# Currently fails because of a Flask issue
#  - pypy3
cache: pip

matrix:

  include:

 
    # Python Codestyle
    - os: linux
      python: 3.6
      env: CODESTYLE=true

install:
  - |
    if [[ $TRAVIS_OS_NAME == 'osx' ]]; then
      if [[ -n "$BREW_INSTALL" ]]; then
        brew update
        brew install "$BREW_INSTALL"
      fi
      sudo pip install tox
    fi
    if [[ $CODESTYLE ]]; then
      pip install pycodestyle
    fi

script:
  - |
    if [[ $TRAVIS_OS_NAME == 'linux' ]]; then
      if [[ $CODESTYLE ]]; then
        # 241 - multiple spaces after ‘,’
        # 501 - line too long
        pycodestyle --ignore=E241,E501
      else
        make test-all  # line i added to test the code
        make
      fi
    else
      PATH="/usr/local/bin:$PATH" tox -e "$TOXENV"
    fi

after_success:
  - |
    if [[ $TRAVIS_PYTHON_VERSION == $NEWEST_PYTHON && $TRAVIS_OS_NAME == 'linux' ]]; then
      pip install python-coveralls && coveralls
    fi
  - docker login -u $DOCKER_EMAIL -p $DOCKER_PASS
  - docker build -f Dockerfile -t $REPO:$COMMIT .
  - docker tag $REPO:$COMMIT $REPO:$TAG
  - docker tag $REPO:$COMMIT $REPO:travis-$TRAVIS_BUILD_NUMBER
  - docker push $REPO
notifications:

  webhooks:
    urls:
      # https://gitter.im/jkbrzt/httpie
      - https://webhooks.gitter.im/e/c42fcd359a110d02830b
    on_success: always  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: always     # options: [always|never|change] default: always
